<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo</title>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div class="todo-container">
      <h2 class="title"><%= title %></h2>
      <button class="btn" onClick="window.location.href='/add-todo'">
        Add Todo
      </button>
      <div class="form-table">
        <table>
          <tr>
            <th>S/No</th>
            <th>✅</th>
            <th>Title</th>
            <th>Description</th>
            <th>Created At</th>
            <th>Actions</th>
          </tr>
          <% for(let i=0; i<todos.length; i++) { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><input class="check-box" type="checkbox" checked="false" value="false" /></td>
            <td><%= todos[i].title %></td>
            <td><%= todos[i].desc %></td>
            <td><%= moment(todos[i].updatedAt).format("MMM DD, YYYY , HH:mm:ss") %></td>
            <td><a class="action-btn" href="/update-todo">Edit</a>
            <a class="action-btn" id="delete-btn" href="/delete-todo">Delete</a></td>
        </tr>
        <% } %>
        </table>
      </div>
    </div>
  </body>
</html>
